In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"D:\Personal ML Project\Kaggle Competition\Titanic\TrainNormal.csv")

In [3]:
df.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare  EmbarkedN  SexN
0            1         0       3  22.0      1      0   7.2500          3     1
1            2         1       1  38.0      1      0  71.2833          1     0
2            3         1       3  26.0      0      0   7.9250          3     0
3            4         1       1  35.0      1      0  53.1000          3     0
4            5         0       3  35.0      0      0   8.0500          3     1

In [4]:
# dropping columns PassengerID and Age 
X = df.drop(['Survived','PassengerId','Age'], axis=1)
y = df['Survived']

In [5]:
from sklearn.linear_model import LogisticRegression

In [6]:
classifier = LogisticRegression()

In [7]:
# training the classifier using the fit function
classifier.fit(X, y)

LogisticRegression()

In [8]:
# importing the testing data without the survived column 
df_test = pd.read_csv(r"D:\Personal ML Project\Kaggle Competition\Titanic\Test2.csv")

In [9]:
df_test.drop(['PassengerId','Age'], axis =1, inplace=True )

In [10]:
df_test.head()

   Pclass  SibSp  Parch     Fare  EmbarkedN  SexN
0       3      0      0   7.8292          2     1
1       3      1      0   7.0000          3     0
2       2      0      0   9.6875          2     1
3       3      0      0   8.6625          3     1
4       3      1      1  12.2875          3     0

In [11]:
# finding the null values in the test dataset provided 
df_test.isnull().sum()

Pclass       0
SibSp        0
Parch        0
Fare         1
EmbarkedN    0
SexN         0
dtype: int64

In [12]:
df_test['Fare'] = df_test['Fare'].fillna(0)
df_test['Fare'].isnull().sum()  # null value in Fare is replaced with 0

0

In [13]:
# Running the Subsequent cell will provide us the output in either 1 or 0 
# the output is copied and pasted in a CSV file and to be uploaded into Kaggle website providing us the accuracy
# In my case, the obtained accuracy is 0.76555 ; ranked 8272th position at the time of submission

In [ ]:
preds = classifier.predict(df_test) > 0.5     # prediction on test dataset
for i in preds:
    if i == True:
        print(1)
    else:
        print(0)